#video1 {
    position: absolute;
    width: 100%;
}

.video-controls {
    position: absolute;
    width: 50px;
    height: 20px;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid #000;
}

#play-btn {
left: 5px;
}

#pause-btn {
left: 5px;
}

#mute-btn {
left: 60px;
}

#unmute-btn {
left: 60px;
}

#stop-btn {
left: 115px;
}

#replay-btn {
    left: 115px;
}